@font-face {
    font-family: 'Univers LT Std';
    src: url('fonts/UniversLTStd-Light.eot');
    src: url('fonts/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd-Light.woff2') format('woff2'),
         url('fonts/UniversLTStd-Light.woff') format('woff'),
         url('fonts/UniversLTStd-Light.ttf')  format('truetype'),
         url('fonts/UniversLTStd-Light.svg#Univers LT Std') format('svg');
}