
@font-face {
    font-family: 'Univers LT Std';
    src: url('fonts/UniversLTStd.eot');
    src: url('fonts/UniversLTStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd.woff2') format('woff2'),
         url('fonts/UniversLTStd.woff') format('woff'),
         url('fonts/UniversLTStd.ttf')  format('truetype'),
         url('fonts/UniversLTStd.svg#Univers LT Std') format('svg');
}
@font-face {
    font-family: 'Univers LT StdLite';
    src: url('fonts/UniversLTStd-Light.eot');
    src: url('fonts/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd-Light.woff2') format('woff2'),
         url('fonts/UniversLTStd-Light.woff') format('woff'),
         url('fonts/UniversLTStd-Light.ttf')  format('truetype'),
         url('fonts/UniversLTStd-Light.svg#Univers LT Std') format('svg');
}
@font-face {
    font-family: 'Univers LT StdObl';
    src: url('fonts/UniversLTStd-LightObl.eot');
    src: url('fonts/UniversLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd-LightObl.woff2') format('woff2'),
         url('fonts/UniversLTStd-LightObl.woff') format('woff'),
         url('fonts/UniversLTStd-LightObl.ttf')  format('truetype'),
         url('fonts/UniversLTStd-LightObl.svg#Univers LT Std') format('svg');
}


  #logo{color:white;
  position: fixed;
  left:8%;
  top:8%;
  font-size:1.5rem;
  letter-spacing:-1px;
  font-family:'Univers LT Std';
}
#logo a{
  color:white;
  text-decoration: none;
}
      #menu{
        position:fixed;
        text-align:right;
        right:8%;
        top:8%;
        font-family:'Univers LT Std';}

#menu a{
  text-decoration:none;
    color:white;
    padding-left:50px;
  }
  .top a{margin-left: auto;
    margin-right: auto;
  width:50%;}

.title_image{
  width:100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  margin: 0;
}
      .title_image_column{
      width:100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      margin: 0;}

              .title_image1{
                flex:1;
                  margin: 0;
              }
                .title_image2{
                    flex:1;
                    margin-right:1%;
                }

                .title_image3{
                  flex:1;
                    margin-left:1%;
                }
                .title_image4{
                  flex:1;
                    margin-bottom:1%;
                }
                .title_image5{
                  flex:1;
                    margin-top:1%;
                }
                /*.title_imageT{
                  flex:1;
                    border: 1px solid white;}
*/
                    .title_image_column_child{
                      flex:1;

                      ;
                    }
                    .space_image {
                      flex:1;
                        margin-top: 1%;
                        margin-bottom: 1%;

                    }


.title_imageT:hover{

}

.title{
  margin-top:4%;
  margin-bottom: 2%;
  font-family: 'Univers LT Std';
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color:white;
}


.title_below{
  display: flex;
  flex-direction: row;
  width:100%;
  color:white;
}
              .title_caption {

                font-family: 'Univers LT StdObl';
                font-size: 0.8rem;
                line-height: 1.7;
                letter-spacing: 0.5px;
                color:black;
                flex-shrink: 0;
                margin-right: 1%;
                color:white;
                  }

              .title_explain{

                  font-family: 'Univers LT StdLite';
                  font-size: 1rem;
                  line-height: 1.4;
                  letter-spacing: 0.3px;
                  margin-left:1%;
                  color:white;
                  }

.contents{
  display: flex;
  width: 100%;
  flex-direction: row;
}
                .small_title{
                  font-family: 'Univers LT Std';
                  letter-spacing: 0.3px;
                  font-size: 1rem;
                  flex-shrink: 0;
                  flex-basis: 120px;
                  margin-right: 1%;
                  color:white;
                  line-height: 1.4;
                }
                .contents_explain{
                  font-family: 'Univers LT StdLite';
                  font-size: 1rem;
                  letter-spacing: 0.3px;
                  line-height: 1.4;
                  margin-left: 1%;
                  color:white;
                }

                                .explain_column{
                                  display: flex;
                                  width: 100%;
                                  flex-direction: row;
                                }
.space{margin: 23%;}

.space_text_image{margin: 7%;}

img{width:100%;}

.image_explain{
  font-family: 'Univers LT StdObl';
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  color:white;
}
.image_explain2{
  font-family: 'Univers LT StdObl';
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  color:white;

}
.image_explain3{
  font-family: 'Univers LT StdObl';
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  flex:1;
  line-height: 1.5;
  color:white;
}
.image_explain4{
  font-family: 'Univers LT StdObl';
  font-size: 1rem;
  letter-spacing: 0.1px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  flex:1;
  line-height: 1.5;
  margin-left: 2%;
  color:white;

}
.image_side{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.space_ending {
  margin: 35%;
}
.space_start {
    margin: 35%;

}
}
